body {
    font-family: Futura, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: rgb(2,0,36);
    background: #f8efec;
    height: 100%;
    padding: 60px;
}

.container {
    background-color: #fff;
    padding: 60px;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    align-items: center;
}
