body {
    font-family: Futura, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,35,121,1) 35%, rgba(0,179,255,1) 100%);
}

.container {
    background-color: #fff;
    padding: 60px;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}
